@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&family=REM:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  height: 1600px;
}

#header {
  width: 100%;
  height: 90vh;
  color: #fff;

}
#inform {
  position: relative;
  display: block;
  background: url('../Images/map_2.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  z-index: 1;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 50px;

}


#logo {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  left: 50px;
  top: 75px;
}


 #login_register {
  position: absolute;
  z-index: 3;
  left: 1650px;
  top: 20px;
  color: black;
  font-size: 1.5em;
 }
 #login_register a {
  color: white;
  text-decoration: none;
 }

 #login_register a:hover {
  text-decoration: underline;
 }

 .BigPolyglot {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  border: 2px solid black;
  background: white;
 }

 .goat {
  position: relative;
  float: left;
  left: 200px;
  top: 200px;
  width: 500px;
  height: auto;
  border: 2px solid black;
  background: white;
 }

 .goat_1 {
  position: relative;
  float: right;
  right: 200px;
  top: 200px;
  width: 500px;
  height: auto;
  border: 2px solid black;
  background: white;
 }



