* {
    margin: 0;
    padding: 0;
}
#main {
    background: url('../Images/bg_2.png');
}

#heading{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    height: 160px;
    text-align:center;
    padding-top: 70px;
    font-size: 2em;
    font-weight: bold;
    box-sizing: border-box;
}
#logo {
    position: absolute;
    display: inline-block;
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 35%;
    top: 30px;
}
.p_main {
    position: absolute;
    top: 230px;
    left: 40%;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 5px;
}


#register_box {
    display: flex;
    position: relative;
    width: 80%;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 50px;
    padding-top: 70px;
    border: 6px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    overflow: scroll;
}


#polite {
    position: absolute;
    bottom: 200px;
    left: 50px;
}
#mini-box-2 {
    text-align: center;
}
.mini-box_1 {
    display: inline-block;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    border-radius: 50px;
    background: white;
    padding: 30px;
}
form p {
    display: inline;
}
#finish {
    position: absolute;
    bottom: 30px;
    width: 300px;
    height: 70px;
    border: 2px solid black;
    text-align: center;
}